.container {
    height: 100vh; /* Full viewport height */
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    /* overflow: hidden; */
    z-index: -2; /* Ensure it stays behind other content */
}

.container div {
  position: absolute;
  border-radius: 50%;
  animation: gradient 4s infinite;
}

.container div:nth-child(1) {
  height: 90%;
  width: 80%;
  background-color: #87CEFA; 
  left: -29%;
  top: -10%;
}

.container div:nth-child(2) {
  height: 80%;
  width: 70%;
  background-color: #40E0D0; 
  top: -12%;
  right: -12%;
  animation-delay: 8s;
}

.container div:nth-child(3) {
  height: 65%;
  width: 80%;
  background-color: #ADD8E6;
  bottom: -15%;
  right: -20%;
  animation-delay: 0.3s;
}

.container div:nth-child(4) {
  height: 50%;
  width: 75%;
  background-color: #90EE90;
  bottom: -10%;
  left: -18%;
  animation-delay: 1.2s;
}

.container::after {
  position: fixed;
  content: "";
  height: 100%;
  width: 100%;
  backdrop-filter: blur(70px);
}

@keyframes gradient {
  70% {
    transform: scale(1.2) translate(50px);
  }
}